@font-face {
    font-family: norse-bold;
    src: url('./Norse-Bold.otf');
}
*{
    margin: 0 0 0 0;
}

.container {
    height: 100vh;
    display: flex;

}

.splash {
    width: 33.3%;
    height: 100vh;
    background: url("./rain_forest.jpg") no-repeat fixed center;
}
.logo-bg{
    /* display: absolute; */
    display: flex;
    background-color: rgba(0,0,0,.5) ;
    height: 20%;
    margin-top: 30%;
    justify-content: center;
    align-items: center;
}

.logo, #logo-text{
    display: inline-block;
    justify-content: center;
}
.logo{
    display: inline-block;
    height: 7rem;
    /* margin: 3% auto; */

}

#logo-text{
    font-family: norse-bold;
    color: white;
    font-size: 5rem;
}

.main-form{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #f2f2f2;
    font-weight: bold;
    padding-top: 5rem;
}

.main-form p {
    padding: 2rem;
}

form {
    background-color: #fff;
    box-shadow: -1px 7px 9px -2px rgba(52,46,46,0.75);
    /* margin-top: 0; */
}

#form-paragraph {
    padding: 1rem 2rem 0;
    /* border: 1px solid red; */
}

.form-group{
    display: flex;
    margin: 1rem 2rem;
    padding-bottom: 1rem;
}

.form-left-column, .form-right-column{
    width:40%;

}

.input{
    display:flex;
    flex-flow: column;
    margin: .5rem;
}

label{
    font-size: .5rem;
}

input, label {
    margin-top: .25rem;
}

input {
    border: 1px solid lightgray;
    border-radius: 4px;
    height: 1.5rem;
    padding-left: .4rem;
}

button[type='submit']{
    background-color: green;
    color: white;
    margin-left: 2.5rem;
    margin-bottom: 1rem;
    padding: .75rem 4rem;
    
    /* width: 5rem; */
}
